@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>¡Bienvenidos!</h1>
    <p>¿Ya tiene cuenta?</p>

    <a href="@Url.Action("Login", "Account")>Log In</a>
<a href="@Url.Action("SignUp", "Account")>Sign Up</a>

</div>
