@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>¡Bienvenidos!</h1>
    <p>¿Ya tiene cuenta?</p>

    <a href='@Url.Action("LogIn","account")'>Log In </a>
    <a href='@Url.Action("SigUp","Home")'>Sign Up </a>
</div>
