<header>
    <h1>¿Que cambios le gustaría hacer?</h1>
</header>
<div>
   

    <form action = '@Url.Action("GuardarModificarTarea", "Home")' method = "POST">
        Ingrese nuevo Titulo
        <input type="name" name ="Titulo" />
         Ingrese nuevo descripción
        <input type="name" name = "Descripcion"/>
  Ingrese nuevo Fecha
        <input type="date" name ="Fecha" />
         Ingrese nuevo Finalización
        <input type="bit" name = "Finalización"/>

        <input class = "submit" type="submit" value="Submit"/>
    </form>

</div>



