USE [master]
GO
/****** Object:  Database [BD]    Script Date: 7/8/2025 13:39:35 ******/
CREATE DATABASE [BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD]
GO
/****** Object:  User [alumno]    Script Date: 7/8/2025 13:39:35 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 7/8/2025 13:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[Id] [int] NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Finalización] [bit] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/8/2025 13:39:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UltimoLogIn] [date] NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Tarea] ([Id], [Titulo], [Descripcion], [Fecha], [Finalización], [IdUsuario]) VALUES (1, N'Comprar materiales', N'Ir a la librería y comprar hojas', CAST(N'2025-08-01' AS Date), 0, 1)
INSERT [dbo].[Tarea] ([Id], [Titulo], [Descripcion], [Fecha], [Finalización], [IdUsuario]) VALUES (2, N'Estudiar para examen', N'Repasar teoría de bases de datos', CAST(N'2025-08-03' AS Date), 1, 2)
INSERT [dbo].[Tarea] ([Id], [Titulo], [Descripcion], [Fecha], [Finalización], [IdUsuario]) VALUES (3, N'Subir práctica', N'Entregar TP final', CAST(N'2025-08-04' AS Date), 0, 3)
GO
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Foto], [UserName], [UltimoLogIn], [Contraseña]) VALUES (1, N'Lucia', N'Perez', N'lucia.jpg', N'luciap', CAST(N'2025-08-01' AS Date), N'lucia123')
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Foto], [UserName], [UltimoLogIn], [Contraseña]) VALUES (2, N'Mateo', N'Gómez', N'mateo.png', N'mateog', CAST(N'2025-07-30' AS Date), N'mateo456')
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Foto], [UserName], [UltimoLogIn], [Contraseña]) VALUES (3, N'Sofía', N'Martínez', N'sofia.png', N'sofiam', CAST(N'2025-08-02' AS Date), N'sofia789')
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Usuario]
GO
USE [master]
GO
